* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
    list-style: none;
}

// header
header {
    
}
.container{
    width: 1920px;
    height: 120px;
    position: fixed;
}
.header {
    margin: 0 auto;
    width: 1200px;
    line-height: 120px;
    display: grid;
    // 第二個數值:351px 是html中空的div
    grid-template-columns: 204px 351px 398px 120px 110px;
    align-items: center;

    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        a {
            color: #fff;
            font-size: 18px;
        }
    }

    .social {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
}

.banner {
    background-image: url(./img/banner.png);
    width: 1920px;
    height: 1280px;
    background-position: center;
    background-size: cover;
}