* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
    list-style: none;
}

// header
header {
    
}
.container{
    width: 1920px;
    height: 120px;
    position: fixed;
}
.header {
    margin: 60px auto 0;
    width: 1200px;
    display: grid;
    align-items: flex-end;
    // 第二和第四個數值:351px/120px 是html裡面故意設置的空div
    grid-template-columns: 204px 351px 398px 120px 110px;

    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        a {
            color: #fff;
            font-size: 18px;
        }
    }

    .social {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-end;
        justify-items: space-around;
    }
}

.banner {
    background-image: url(./img/banner.png);
    width: 1920px;
    height: 1280px;
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;

    // 1. 用 grid 寫法:
    // grid 會將所有子元素轉為區塊元素, img本來是行內元素
    // 只有區塊元素可以使用margin
    .banner-title {
        margin: 0 auto;
    }

    // 2. 用 background-image 寫法:
    // .banner-title{
    //     z-index: 2;
    //     background-image: url(./img/banner-title.png);
    //     background-position: center;
    //     height: 1280px;
    //     background-repeat: no-repeat;
    // }

}

// main 主內容區
main{
    background-image: url(./img/bg.png);
    width: 1920px;
    background-repeat: repeat;
}

h2{
    font-size: 32px;
    font-weight: 300;
    margin: 45px auto 60px;
    text-align: center;
    letter-spacing: 10px;
}

// #news 最新消息
.news-list{
    display: grid;
    grid-template-columns: 380px 380px 380px;
    grid-gap: 20px;
    width: 1200px;
    margin: 0 auto;
    
    .news-item{
        background-color: #fff;
        text-align: center;
        padding: 40px 30px;

        span{
            font-size: 12px;
            letter-spacing: 3.5px;
            color: #49aa45;
            display: block;
        }
        h3{
            display: inline-block;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 6.5px;
            margin: 25px auto 35px;
            border-bottom: 1px solid #000;
        }
        p{
            font-size: 16px;
            font-weight: 300;
            line-height: 1.8em;
            letter-spacing: 4.8px;
            text-align: left;
            margin-bottom: 30px;
        }
    }
}