* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  list-style: none;
}

.container {
  width: 1920px;
  height: 120px;
  position: fixed;
}

.header {
  margin: 60px auto 0;
  width: 1200px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-grid-columns: 204px 351px 398px 120px 110px;
      grid-template-columns: 204px 351px 398px 120px 110px;
}

.header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.header nav a {
  color: #fff;
  font-size: 18px;
}

.header .social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  justify-items: space-around;
}

.banner {
  background-image: url(./img/banner.png);
  width: 1920px;
  height: 1280px;
  background-position: center;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner-title {
  margin: 0 auto;
}

main {
  background-image: url(./img/bg.png);
  width: 1920px;
  border: 0.1px solid rgba(0, 0, 0, 0);
}

h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 45px auto 60px;
  text-align: center;
  letter-spacing: 9.6px;
}

.news-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 1200px;
  margin: 0 auto;
}

.news-list .news-item {
  background-color: #fff;
  text-align: center;
  padding: 40px 30px;
}

.news-list .news-item span {
  font-size: 12px;
  letter-spacing: 3.5px;
  color: #49aa45;
  display: block;
}

.news-list .news-item h3 {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 25px auto 35px;
  border-bottom: 1px solid #000;
}

.news-list .news-item p {
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  text-align: left;
  margin-bottom: 30px;
}

.pro-box {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.pro-box .pro-img {
  display: block;
  margin: 0 auto;
}

.pro-box .pro-txt {
  width: 280px;
  position: absolute;
  top: 70px;
  right: 120px;
}

.pro-box .pro-txt h3 {
  text-align: center;
  color: #f5bb28;
  font-size: 30px;
  letter-spacing: 16px;
  margin-bottom: 30px;
}

.pro-box .pro-txt span {
  text-align: center;
  color: #cccccc;
  font-size: 16px;
  letter-spacing: 3.6px;
}

.pro-box .pro-txt p {
  text-align: left;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 5px;
  margin-top: 45px;
}

.belief-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 1200px;
  margin: 0 auto;
}

.belief-box .belief-img {
  background-color: #fff;
  padding: 10px;
}

.belief-box .belief-img img {
  width: 100%;
}

.belief-box .belief-txt h3 {
  font-size: 24px;
  letter-spacing: 7px;
  margin-bottom: 50px;
}

.belief-box .belief-txt p {
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 6px;
  margin-bottom: 50px;
}

.belief-box .belief-txt .more {
  display: inline-block;
  border: 1px solid #000;
  padding: 15px 65px;
}

footer {
  background-image: url(./img/bg.png);
  text-align: center;
  padding: 120px 0;
}

footer .copyright {
  margin-top: 70px;
}

footer .copyright p {
  font-size: 12px;
  letter-spacing: 3.6px;
  margin-bottom: 14px;
}
/*# sourceMappingURL=style.css.map */